@import url(normalize.css);
@import url(reset.css);

/* Estilos Generales */

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondoMadera.jpg)
}

.zonaDado{
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../img/dadoVector.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* box shadow solo al svg */
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;    


    & h1.numerocara{
        font-size: 100px;
        color: #333333;
        user-select: none;
    }
}

