@import url(normalize.css);
@import url(reset.css);

/* Estilos Generales */

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondoMadera.jpg)
}
.dado{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;

    & h1{
        font-size: 50px;
        user-select: none;
    }
}

.dado4{
    background-image: url(../img/dadoVector.svg);
}
.dado6{
    background-image: url(../img/dadoVector.svg);
}
.dado8{
    background-image: url(../img/dadoVector.svg);
}
.dado10{
    background-image: url(../img/dadoVector.svg);
}
